<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Student_LOR_Req.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>selected student</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mukta:wght@500&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
html{
    height: 100%;
    position: relative;
}
body{
    font-family: montserrat;
    
}

.nav1{
    background: rgb(27, 152, 255) ;
   
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.nav1 p{
    font-size: 20px;
    padding-top: 9px;
    padding-left: 10px;
   color: rgb(255, 255, 255);
    
}
nav{
    background:white;
    height: 60px;
    width: 100%;
    
    

}

label.logo{
    color: rgb(0, 0, 0);
    line-height: 70px;
    font-size: 30px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;

}

nav ul li a{
   
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 14px;
    border-radius: 3px;
}



a.active,a:hover{
    
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 60px;
    margin-right: 35px;
    cursor: pointer;
}
#check{
    display: none;
}

#FIRSTHR{
    width: 95%;
    height: 2px;
    background: rgb(27, 152, 255);
    border: 0;  
    
}

.container {
    min-height: 10vh;    
    display: flex;
    flex-direction: column;
    background: rgb(27, 152, 255) ;
    margin-top: 600px;
    
}

.stu-details{
    font-size: 1.1rem;
    
}

.stu-details td input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 600px;
   
}
.stu-details table tr td{
    width: 150px;
    padding-top: 40px;
    padding-left: 50px;
    
}
.pdf{
    padding-top: 30px;
    padding-left: 50px;
}

.message{
    padding-top: 30px;
    padding-left: 50px;
    display: flex;

}
.message input{
    padding-top: 100px;
    padding-left: 54px;
}

.footer {
    
    margin-top: auto;

}


#abc{
    color:rgb(27, 152, 255);    
    
}
.line{
    padding-top: 10px;
    padding-left: 5%;
    
}


.table-container h1{
    font-size: 25px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 12px;
    
}


@media(min-width:858px){
    .checkbtn{
        display: none;
    
    }
}

@media(max-width: 952px){
    label.logo{
        font-size: 25px;
        padding-left: 10px;
    }
    nav ul li a{
        font-size: 15px;

    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
        
    
    }
    
    ul{
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 120vh;
        background-color: #ffffff;
        top: 100px;
        right: -106%;
       padding-left: 2rem;
        transition: all .5s;
        

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover,a:active{
        background: none;
        color: #1b9bff  ;
    }
    #check:checked ~ ul{
        right: -6%;
    }
    #FCRIT{
        display: none;
    }
}

@media(max-width:400px){
    
    table , table tbody , table tr ,table td {
        display: block;
        width: 100%;
    }
    
    
    table thead{
        display: none;
    }
    table .SR{
        background-color: #e4e4e4;
    }
    table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        }
    table tr{
        margin-bottom: 10px;
    }
    table td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
</style>
<body>
    <div class="nav1">
        <p>Online LOR System 
            </p>
            <p id="FCRIT">Fr. Conceicao Rodrigues Institute of Technology
            </p>
    </div>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars" id="abc"></i>
        </label>
        <label class="logo">Teachers Portal</label>
        <ul>
            <li><a class="active" href="/">HOME</a></li>
            <li><a href="/history">HISTORY</a></li>
            <li><a href="/">LOGOUT</a></li>
            <li><a href="#">MENU</a></li>
        </ul>
    </nav>
    <div class="line">
    <hr id="FIRSTHR">
    </div>

    <div class="table-container">
        <h1>Student LOR Request</h1>
        
    </div>
    <div class="stu-details">
        <table>
            <tr>
                <td>
                    Name: 
                </td>
                <td>
                    <%=name1 %>
                </td>
            </tr>
            <tr>
                <td>
                    Roll No: 
                </td>
                <td>
                    <%=roll1 %>
                </td>
            </tr>
            <tr>
                <td>
                    Department: 
                </td>
                <td>
                    <%=dept1 %>
                </td>
            
                <td>
                    Currently Studying:
                </td>
                <td>
                    <%=year1 %>
                </td>
            </tr>
            <tr>
                <td>
                    Date: <%= %>
                
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            
            </table> 
        <div class="pdf">
        <embed src="sample.pdf" type="application/pdf" width="500" height="250" >
        </div>
        </div>

        <div class="message">
            Message: <%=message1 %>
            <form name="" method="" action=""></form>
            <input type="File">
        </div>
    <div class="container">
        <!-- put content here -->
        <div class="footer"></div>
    </div>
    
</body>
</html>